@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// ============================================================================================
//
// breadcrumb set
//
// ============================================================================================
#breadcrumb ol {
  position: relative;
  margin: 0;
  & > li {
    padding: 10px 0;
    line-height: 1.2;
    @include iblock(middle);
    &:nth-child(n+2)::before {
      width: 2em;
      content: ">";
      text-align: center;
      @include iblock(middle);
    }
    em {
      font-weight: $fontWeightNormal;
    }
  }
}