@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// ============================================================================================
//
// footer set
//
// ============================================================================================
#gfooter {
  margin: 0 auto;
  .unav {
    margin: 0;
    & > li {
      @include iblock(middle);
    }
  }
  .copyright {
    text-align: center;
  }

  @include mq(pc){
    width: $contentWidth;
    .unav > li:nth-child(n+2) {
      margin-left: 20px;
    }
  }

  @include mq(sp){
    .unav {
      text-align: center;
      & > li {
        margin: 0 5px;
      }
    }
  }
}
