@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// ============================================================================================
//
// gnav set
//
// ============================================================================================
#gnav {
  position: relative;
  margin: 0 auto;

  ul {
    display: flex;
    margin: 0;
    & > li a {
      display: block;
      text-decoration: none;
    }
  }

  @media screen and (min-width: $rwdBreakPoint01) {
    width: $contentWidth;
    .menu {
      display: none;
    }
    ul {
      justify-content: space-between;
      & > li {
        flex: 1;
        a {
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: $rwdBreakPoint01 - 1) {
    .menu {
      position: absolute;
      top: -50px;
      right: 0;
      //@include gnavBtn($animType: 1);
    }
    ul {
      flex-direction: column;
      & > li {
        border-bottom: 1px solid currentColor;
        padding: 10px;
      }
    }
  }
}