@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

// ============================================================================================
//
// main set
//
// ============================================================================================
#container {
  position: relative;
  margin: 0 auto;
  @include mq(pc) {
    width: $contentWidth;
  }
}

#wrapper {
  display: flex;
  @include mq(pc) {
    justify-content: space-between;
  }
  @include mq(sp) {
    flex-direction: column;
  }

  #mainContents {
    @include mq(pc) {
      padding-right: 30px;
    }
    @include mq(sp) {
    }
  }
}

#mainContents {
  @include mq(pc) {
  }
  @include mq(sp) {
  }
}