<header id="gheader">
<div class="content">
<p class="logo"><a href="../"><span>xxxxxx</span></a></p>
<ul class="unav">
<li><a href="">ユーティリティ01</a></li>
<li><a href="">ユーティリティ02</a></li>
<!-- /.unav --></ul>
<!-- /.content --></div>
<!-- /#gheader ==========--></header>