@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2020/01/07
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

//basic
$path: '../../';

// base width
$contentWidth: 1024px;
$maxContentWidth: 1200px;
$spContentWidth: 320px;
$rwdBreakPoint01: 768px;
$rwdBreakPoint02: 980px;

// base color
$baseColorType01: #000000; //base font color
$baseColorType02: #004ba5; //link color
$baseColorType03: #02a0e9; //point color
$placeholderColor: #cccccc; //placeholder color

// base font
$baseFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
$baseFontSize: 16;
$baseLin: 24;
$baseSpFontSize: 14;
$baseSpLin: 20;

$fontWeightNormal: 400;
