@charset "UTF-8";
/*====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////

    version: 1.0
    created: 2017/01/01
    update : -

//////////////////////////////////////////////////////////////////////////////////////////////////////
====================================================================================================*/
@font-face {
  font-family: "icon";
  src: url("../../fonts/icon.woff");
}

/*====================================================================================================

format

====================================================================================================*/
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

p {
  margin-top: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  letter-spacing: -.5em;
}

li {
  letter-spacing: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th > *:last-child,
table td > *:last-child {
  margin-bottom: 0 !important;
}

hr {
  display: none;
}

img {
  border: none;
  vertical-align: middle;
}

li img {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  vertical-align: middle;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  background: none;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

:placeholder-shown {
  color: #cccccc;
}

::-webkit-input-placeholder {
  color: #cccccc;
}

::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cccccc;
}

em,
address,
small {
  font-style: normal;
}

em {
  font-weight: 700;
}

article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
mark,
audio,
video,
picture,
source,
main {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

/*====================================================================================================

base

====================================================================================================*/
@font-face {
  font-family: "Original Yu Gothic";
  font-weight: 400;
  src: local("Yu Gothic Medium");
}

@font-face {
  font-family: "Original Yu Gothic";
  font-weight: 700;
  src: local("Yu Gothic Bold");
}

body {
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 0.875rem;
    line-height: 1.42857;
  }
}

a {
  color: #004ba5;
}

@media screen and (min-width: 768px) {
  a[href*="tel:"] {
    cursor: text;
    text-decoration: none;
    pointer-events: none;
  }
  a[href*="tel:"] img {
    cursor: default;
  }
}

button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  font-size: 1rem;
}

#document {
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #document {
    min-width: 1024px;
  }
}

@media screen and (max-width: 767px) {
  #document {
    min-width: 320px;
  }
}

.loadWindow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.loadWindow.is_anim {
  opacity: 0;
}

/* Header
--------------------------------------------------------------------------------------------------- */
#gheader {
  margin: 0 auto;
}

#gheader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gheader .logo {
  margin: 0;
}

#gheader .unav {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#gheader .unav > li {
  display: inline-block;
  vertical-align: middle;
}

#gheader .unav > li:nth-child(n+2) {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  #gheader {
    width: 1024px;
  }
  #gheader .content {
    margin: 0 0 10px;
  }
}

@media screen and (max-width: 767px) {
  #gheader .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 50px;
    height: 50px;
  }
}

/* GlobalNavigation
--------------------------------------------------------------------------------------------------- */
#gnav {
  position: relative;
  margin: 0 auto;
}

#gnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#gnav ul > li a {
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #gnav {
    width: 1024px;
  }
  #gnav .menu {
    display: none;
  }
  #gnav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #gnav ul > li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #gnav ul > li a {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  #gnav .menu {
    position: absolute;
    top: -50px;
    right: 0;
  }
  #gnav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #gnav ul > li {
    border-bottom: 1px solid currentColor;
    padding: 10px;
  }
}

/* Breadcrumb
--------------------------------------------------------------------------------------------------- */
#breadcrumb ol {
  position: relative;
  margin: 0;
}

#breadcrumb ol > li {
  padding: 10px 0;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}

#breadcrumb ol > li:nth-child(n+2)::before {
  width: 2em;
  content: ">";
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

#breadcrumb ol > li em {
  font-weight: 400;
}

/* MainContents
--------------------------------------------------------------------------------------------------- */
#container {
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #container {
    width: 1024px;
  }
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  #wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  #wrapper #mainContents {
    padding-right: 30px;
  }
}

/* SubContents
--------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  #subContents {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
}

/* Footer
--------------------------------------------------------------------------------------------------- */
#gfooter {
  margin: 0 auto;
}

#gfooter .unav {
  margin: 0;
}

#gfooter .unav > li {
  display: inline-block;
  vertical-align: middle;
}

#gfooter .copyright {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #gfooter {
    width: 1024px;
  }
  #gfooter .unav > li:nth-child(n+2) {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  #gfooter .unav {
    text-align: center;
  }
  #gfooter .unav > li {
    margin: 0 5px;
  }
}

/*====================================================================================================

    module

====================================================================================================*/
/* section module
--------------------------------------------------------------------------------------------------- */
.m_section {
  position: relative;
  padding: 50px 0;
}

.m_section[class*="_border"]::before {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  content: "";
  z-index: z-index;
}

.m_section[class*="_borderTop"]::before {
  top: 0;
  border-top: 1px solid;
}

.m_section[class*="_borderBottom"]::before {
  bottom: 0;
  border-bottom: 1px solid;
}

.m_section[class*="_fullBg"]::before {
  z-index: -1;
  position: absolute;
  top: 0;
  right: -1000%;
  bottom: 0;
  left: -1000%;
  content: "";
  z-index: z-index;
}

/* heading module
--------------------------------------------------------------------------------------------------- */
.m_textHeading {
  margin: 0 0 30px;
}

@media screen and (min-width: 768px) {
  .m_textHeading {
    font-size: 1.125rem;
  }
}

.m_imageHeading {
  margin: 0 0 30px;
}

@media screen and (max-width: 767px) {
  .m_imageHeading img {
    max-width: 100%;
    height: auto;
  }
}

/* box module
--------------------------------------------------------------------------------------------------- */
.m_box {
  margin: 0 0 20px;
  border: solid #ebe4d9;
  border-width: 1px 0;
  padding: 20px;
  background: #eeeeee;
}

.m_box > *:last-child {
  margin-bottom: 0 !important;
}

.m_box[class*="_border"] {
  border: 1px solid;
}

.m_box[class*="_nobg"] {
  background-color: transparent;
}

.m_media {
  margin: 0 0 1.5em;
}

.m_media .image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.m_media .body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.m_media .body > *:last-child {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 768px) {
  .m_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m_media:not([class*="_flipped"]) .image:first-child {
    margin-right: 30px;
  }
  .m_media:not([class*="_flipped"]) .body + .image {
    margin-left: 30px;
  }
  .m_media[class*="_flipped"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .m_media[class*="_flipped"] .image:first-child {
    margin-left: 30px;
  }
  .m_media[class*="_flipped"] .body + .image {
    margin-right: 30px;
  }
  .m_media[class*="_alignTop"] {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .m_media[class*="_alignMiddle"] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .m_media[class*="_alignbottom"] {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .m_media .image {
    text-align: center;
  }
  .m_media .image img {
    max-width: 100%;
    height: auto;
  }
  .m_media .image:first-child,
  .m_media .body:first-child {
    margin: 0 0 30px;
  }
}

.m_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px;
}

.m_column > .column > *:last-child {
  margin-bottom: 0 !important;
}

.m_column > .column > section > *:last-child {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 768px) {
  .m_column {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .m_column[class*="_pcCol2"] > .column {
    width: calc(100% / 2 - 20px);
  }
  .m_column[class*="_pcCol3"] > .column {
    width: 29.4%;
    width: calc(100% / 3 - 20px);
  }
  .m_column[class*="_pcCol4"] > .column {
    width: calc(100% / 4 - 20px);
  }
}

@media screen and (max-width: 767px) {
  .m_column:not([class*="_spCol"]) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m_column > .column {
    margin: 0 0 30px;
  }
  .m_column[class*="_spCol"] > li {
    width: calc(100% / 2 - 10px);
  }
}

.m_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -20px 0;
}

.m_panel > .panel {
  margin: 20px 0;
}

.m_panel > .panel > *:last-child {
  margin-bottom: 0 !important;
}

.m_panel > .panel > section > *:last-child {
  margin-bottom: 0 !important;
}

.m_panel[class*="_col2"] > .panel {
  width: calc(100% / 2 - 40px);
}

.m_panel[class*="_col3"] > .panel {
  width: calc(100% / 3 - 40px);
}

.m_panel[class*="_col4"] > .panel {
  width: calc(100% / 4 - 40px);
}

.m_slideshow {
  overflow: hidden;
  position: relative;
}

.m_slideshow .slides {
  position: relative;
  margin-bottom: 10px;
}

.m_slideshow .slides:after {
  display: block;
  clear: both;
  height: 0;
  content: ".";
}

.m_slideshow .slides > li {
  display: none;
  float: left;
}

.m_slideshow .slides > li:first-child {
  display: block;
}

.m_slideshow .crossfade .slides > li {
  float: none;
  position: absolute;
}

.m_slideshow .slideControl {
  display: none;
  clear: both;
}

.m_slideshow .cursor > li {
  position: absolute;
  top: 110px;
}

.m_slideshow .cursor > li.prev {
  left: 0;
}

.m_slideshow .cursor > li.next {
  right: 0;
}

.m_slideshow .select > li {
  display: inline-block;
  margin: 0 2px;
}

.m_slideshow .select > li > li a {
  display: block;
  border: 1px solid #cccccc;
  padding: 5px;
  background: #dddddd;
  text-decoration: none;
}

.m_slideshow .select > li > li.active a,
.m_slideshow .select > li > li a:hover {
  background: #eeeeee;
}

/* paragraph module
--------------------------------------------------------------------------------------------------- */
.m_liquidImage {
  text-align: center;
}

.m_liquidImage .caption {
  display: block;
  text-align: right;
}

.m_liquidImage .caption > span {
  display: inline-block;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .m_liquidImage {
    margin: 0 0 40px;
  }
  .m_liquidImage .caption {
    margin: 10px 0 0;
    font-size: 0.875rem;
    line-height: 1.71429;
  }
}

@media screen and (max-width: 767px) {
  .m_liquidImage {
    margin: 0 0 20px;
  }
  .m_liquidImage img {
    max-width: 100%;
    height: auto;
  }
}

/* list module
--------------------------------------------------------------------------------------------------- */
.m_list > li {
  position: relative;
  padding-left: 1em;
}

.m_list > li > *:last-child {
  margin-bottom: 0 !important;
}

.m_list > li:before {
  position: absolute;
  left: 0;
  content: "・";
}

.m_list[class*="_unstyled"] > li {
  padding: 0;
}

.m_list[class*="_unstyled"] > li::before {
  content: none;
}

.m_numberList {
  counter-reset: li;
}

.m_numberList > li {
  display: table-row;
}

.m_numberList > li > *:last-child {
  margin-bottom: 0 !important;
}

.m_numberList > li:before {
  display: table-cell;
  content: counter(li) ".";
  counter-increment: li;
  text-align: right;
}

.m_notesList > li {
  display: table-row;
}

.m_notesList > li > *:last-child {
  margin-bottom: 0 !important;
}

.m_notesList > li::before {
  display: table-cell;
  content: "※";
  text-align: center;
}

.m_notesList[class*="_small"] > li::before,
.m_notesList > li[class*="_small"]::before {
  content: "*";
}

.m_notesList[class*="_mark"] > li .mark {
  display: table-cell;
  text-align: right;
}

.m_notesList[class*="_mark"] > li::before {
  content: none;
}

.m_linkList > li {
  position: relative;
  padding-left: 16px;
}

.m_linkList > li > *:last-child {
  margin-bottom: 0 !important;
}

.m_linkList > li a::before {
  position: absolute;
  top: calc(.5em);
  left: 0;
  content: "";
  display: block;
  border: solid #000000;
  border-color: transparent transparent transparent #000000;
  border-width: 4px 0 4px 12px;
  width: 0;
  line-height: 1;
}

.m_imageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px;
}

.m_imageList > li > *:last-child {
  margin-bottom: 0 !important;
}

.m_imageList > li .image img {
  width: 100%;
  height: auto;
}

.m_imageList > li > figure > *:last-child {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 768px) {
  .m_imageList[class*="_col2"] > li {
    width: calc(100% / 2 - 40px);
  }
  .m_imageList[class*="_col2"] > li:nth-last-of-type(n+3) {
    margin-bottom: 20px;
  }
  .m_imageList[class*="_col3"] > li {
    width: calc(100% / 3 - 30px);
  }
  .m_imageList[class*="_col3"] > li:nth-last-of-type(n+4) {
    margin-bottom: 20px;
  }
  .m_imageList[class*="_col4"] > li {
    width: calc(100% / 4 - 20px);
  }
  .m_imageList[class*="_col4"] > li:nth-last-of-type(n+5) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .m_imageList:not([class*="_spCol"]) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m_imageList[class*="_spCol"] > li {
    width: calc(100% / 2 - 10px);
  }
}

[class*="List"][class*="_horizontal"] > li {
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

/* table module
--------------------------------------------------------------------------------------------------- */
.m_table table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid currentColor;
  border-width: 0 0 1px 1px;
  width: 100%;
}

.m_table table th,
.m_table table td {
  border: solid currentColor;
  border-width: 1px 1px 0 0;
}

.m_table[class*="_fixed"] table {
  table-layout: fixed;
}

@media screen and (max-width: 767px) {
  .m_table {
    overflow: auto;
  }
  .m_table table th {
    white-space: nowrap;
  }
}

/* navigation module
--------------------------------------------------------------------------------------------------- */
.m_button {
  text-align: center;
}

.m_button a,
.m_button button,
.m_button input[type="button"],
.m_button input[type="submit"],
.m_button input[type="reset"],
.m_button span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  padding: 13px 10px;
  background: #004ba5;
  color: #ffffff;
  text-decoration: none;
}

.m_button a.is_disabled, .m_button a[disabled],
.m_button button.is_disabled,
.m_button button[disabled],
.m_button input[type="button"].is_disabled,
.m_button input[type="button"][disabled],
.m_button input[type="submit"].is_disabled,
.m_button input[type="submit"][disabled],
.m_button input[type="reset"].is_disabled,
.m_button input[type="reset"][disabled],
.m_button span.is_disabled,
.m_button span[disabled] {
  background: #cccccc;
  pointer-events: none;
}

.m_button span {
  background: #c1c1c1;
}

@media screen and (min-width: 768px) {
  .m_button {
    margin: -10px 0 30px;
  }
  .m_button > li {
    margin: 10px 5px 0;
    display: inline-block;
    vertical-align: middle;
  }
  .m_button a,
  .m_button button,
  .m_button input[type="button"],
  .m_button input[type="submit"],
  .m_button input[type="reset"] {
    min-width: 300px;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    display: inline-block;
    vertical-align: middle;
  }
  .m_button a:hover,
  .m_button button:hover,
  .m_button input[type="button"]:hover,
  .m_button input[type="submit"]:hover,
  .m_button input[type="reset"]:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 767px) {
  .m_button {
    margin: 0 0 30px;
  }
  .m_button > li:nth-child(n+2) {
    margin-top: 10px;
  }
  .m_button a,
  .m_button button,
  .m_button input[type="button"],
  .m_button input[type="submit"],
  .m_button input[type="reset"],
  .m_button span {
    display: block;
    width: 100%;
  }
}

.m_pager {
  margin: 0 0 30px;
  text-align: center;
}

.m_pager > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.m_pager > li:not([class]) a,
.m_pager > li.is_active a {
  display: block;
  border: 1px solid currentColor;
  text-decoration: none;
}

.m_pager > li.is_active a {
  border-color: #004ba5;
  background: #004ba5;
  color: #ffffff;
}

.m_pager > li.first a::before {
  content: "<<";
}

.m_pager > li.prev a::before {
  content: "<";
}

.m_pager > li.next a::after {
  content: ">";
}

.m_pager > li.last a::after {
  content: ">>";
}

@media screen and (min-width: 768px) {
  .m_pager > li:not([class]) a,
  .m_pager > li.is_active a {
    width: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .m_pager > li:not([class]) a,
  .m_pager > li.is_active a {
    width: 36px;
    line-height: 36px;
  }
  .m_pager > li a > span {
    display: none;
  }
  .m_pager > li.first, .m_pager > li.last {
    display: none;
  }
}

/* inline module
--------------------------------------------------------------------------------------------------- */
.m_br[class*="_before"]::before,
.m_br[class*="_after"]::after {
  content: "\A";
  white-space: pre;
}

@media screen and (min-width: 768px) {
  .m_pcHide {
    display: none !important;
  }
  .m_pcbr[class*="_before"]::before,
  .m_pcbr[class*="_after"]::after {
    content: "\A";
    white-space: pre;
  }
}

@media screen and (max-width: 767px) {
  .m_spHide {
    display: none !important;
  }
  .m_spbr[class*="_before"]::before,
  .m_spbr[class*="_after"]::after {
    content: "\A";
    white-space: pre;
  }
}

/* modifier module
--------------------------------------------------------------------------------------------------- */
/* text align */
[class*="_alignLeft"] {
  text-align: left !important;
}

@media screen and (min-width: 768px) {
  [class*="_pcAlignLeft"] {
    text-align: left !important;
  }
}

@media screen and (max-width: 767px) {
  [class*="_spAlignLeft"] {
    text-align: left !important;
  }
}

[class*="_alignCenter"] {
  text-align: center !important;
}

@media screen and (min-width: 768px) {
  [class*="_pcAlignCenter"] {
    text-align: center !important;
  }
}

@media screen and (max-width: 767px) {
  [class*="_spAlignCenter"] {
    text-align: center !important;
  }
}

[class*="_alignRight"] {
  text-align: right !important;
}

@media screen and (min-width: 768px) {
  [class*="_pcAlignRight"] {
    text-align: right !important;
  }
}

@media screen and (max-width: 767px) {
  [class*="_spAlignRight"] {
    text-align: right !important;
  }
}

[class*="_alignTop"] {
  vertical-align: top !important;
}

@media screen and (min-width: 768px) {
  [class*="_pcAlignTop"] {
    vertical-align: top !important;
  }
}

@media screen and (max-width: 767px) {
  [class*="_spAlignTop"] {
    vertical-align: top !important;
  }
}

[class*="_alignMiddle"] {
  vertical-align: middle !important;
}

@media screen and (min-width: 768px) {
  [class*="_pcAlignMiddle"] {
    vertical-align: middle !important;
  }
}

@media screen and (max-width: 767px) {
  [class*="_spAlignMiddle"] {
    vertical-align: middle !important;
  }
}

[class*="_alignBottom"] {
  vertical-align: bottom !important;
}

@media screen and (min-width: 768px) {
  [class*="_pcAlignBottom"] {
    vertical-align: bottom !important;
  }
}

@media screen and (max-width: 767px) {
  [class*="_spAlignBottom"] {
    vertical-align: bottom !important;
  }
}

/* font style */
[class*="_fontBold"] {
  font-weight: 700;
}

[class*="_fontItalic"] {
  font-style: italic;
}

[class*="_fontNormal"] {
  font-weight: 400 !important;
  font-style: normal !important;
}

/* fontColor */
[class*="_colorType01"] {
  color: #000000;
}

[class*="_colorType02"] {
  color: #004ba5;
}

/* block width */
/* ※※ module
--------------------------------------------------------------------------------------------------- */
/*====================================================================================================

    libs

====================================================================================================*/
/* ※※
--------------------------------------------------------------------------------------------------- */
/*====================================================================================================

    unique

====================================================================================================*/
/* ※※
--------------------------------------------------------------------------------------------------- */
/*# sourceMappingURL=../../Templates/dev/sourcemap/common/styles.css.map */
