<!DOCTYPE html>
<html lang="ja">
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta name="description" content="個別Description">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="個別Title">
<meta property="og:description" content="個別Description">
<meta property="og:image" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="">
<meta name="twitter:title" content="個別Title">
<meta name="twitter:description" content="個別Description">
<meta name="twitter:image:src" content="">
<meta name="format-detection" content="telephone=no, email=no, address=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>個別Title</title>
<link rel="stylesheet" type="text/css" href="../css/common/styles.min.css">

</head>
<body>
<div id="document" class="個別ID カテゴリID">
<header id="gheader">
<div class="content">
<h1 class="logo"><a href=""><span>xxxxxx</span></a></h1>
<ul class="unav">
<li><a href="../">ユーティリティ01</a></li>
<li><a href="../">ユーティリティ02</a></li>
<!-- /.unav --></ul>
<!-- /.content --></div>
<!-- /#gheader ==========--></header>

<nav id="gnav">
<div class="menu"><button><span>メニュー</span></button></div>
<ul>
<li><a href="../">メニュー01</a></li>
<li><a href="../">メニュー02</a></li>
<li><a href="../">メニュー03</a></li>
<li><a href="../">メニュー04</a></li>
<li><a href="../">メニュー05</a></li>
<li><a href="../">メニュー06</a></li>
</ul>
<!-- /#gnav ==========--></nav>


<div id="container">


container


<!-- /#container ==========--></div>

<footer id="gfooter">
<div class="content">
<ul class="unav">
<li><a href="../">ユーティリティ01</a></li>
<li><a href="../">ユーティリティ02</a></li>
<li><a href="../">ユーティリティ03</a></li>
<li><a href="../">ユーティリティ04</a></li>
<li><a href="../">ユーティリティ05</a></li>
<li><a href="../">ユーティリティ06</a></li>
<!-- /.unav --></ul>
<p class="copyright"><small>Copyright&copy;<script>myDate = new Date();myYear = myDate.getFullYear();document.write(myYear);document.write("&nbsp;");</script> xxxxxxxxx All Rights Reserved.</small></p>
<!-- /.content --></div>
<!-- /#gfooter ==========--></footer>

<!-- /#document ==========--></div>
<script src="../scripts/common/bundle.js" defer></script>
</body>
</html>
