<header id="gheader">
<div class="content">
<p class="logo"><a href="<%= path %>"><span>xxxxxx</span></a></p>
<ul class="unav">
<li><a href="<%= path %>">ユーティリティ01</a></li>
<li><a href="<%= path %>">ユーティリティ02</a></li>
<!-- /.unav --></ul>
<!-- /.content --></div>
<!-- /#gheader ==========--></header>