<header id="gheader">
<div class="content">
<p class="logo"><a href="#{vars.path}"><span>xxxxxx</span></a></p>
<ul class="unav">
<li><a href="#{vars.path}">ユーティリティ01</a></li>
<li><a href="#{vars.path}">ユーティリティ02</a></li>
</ul><!-- /.unav -->
</div><!-- /.content -->
</header><!-- /#gheader ==========-->