@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2015/01/23
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================
.m_box {
  margin: 0 0 20px;
  border: solid #ebe4d9;
  border-width: 1px 0;
  padding: 20px;
  background: #eeeeee;
  @include lastElement;
  &[class*="_border"] {
    border: 1px solid;
  }
  &[class*="_nobg"] {
    background-color: transparent;
  }
}

.m_media {
  margin: 0 0 1.5em;
  @include mq(pc) {
    display: flex;
    flex-direction: column;
    &:not([class*="_flipped"]) .image:first-child {
      margin-right: 30px;
    }
    &:not([class*="_flipped"]) .body + .image {
      margin-left: 30px;
    }
    &[class*="_flipped"] {
      flex-direction: row-reverse;
      .image:first-child {
        margin-left: 30px;
      }
      .body + .image {
        margin-right: 30px;
      }
    }
    &[class*="_alignTop"] {
      align-items: flex-start;
    }
    &[class*="_alignMiddle"] {
      align-items: center;
    }
    &[class*="_alignbottom"] {
      align-items: flex-end;
    }
  }
  @include mq(sp) {
    .image {
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .image:first-child,
    .body:first-child {
      margin: 0 0 30px;
    }
  }
  .image {
    flex-shrink: 0;
  }
  .body {
    flex-grow: 1;
    @include lastElement;
  }
}

.m_column {
  display: flex;
  margin: 0 0 30px;
  @include mq(pc) {
    justify-content: space-between;
    &[class*="_pcCol2"] > .column {
      width: calc(100% / 2 - 20px);
    }
    &[class*="_pcCol3"] > .column {
      width: 29.4%;
      width: calc(100% / 3 - 20px);
    }
    &[class*="_pcCol4"] > .column {
      width: calc(100% / 4 - 20px);
    }
  }
  @include mq(sp) {
    &:not([class*="_spCol"]) {
      flex-direction: column;
    }
    & > .column {
      margin: 0 0 30px;
    }
    &[class*="_spCol"] > li {
      width: calc(100% / 2 - 10px);
    }
  }
  & > .column {
    @include lastElement;
    & > section {
      @include lastElement;
    }
  }
}






.m_panel {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  margin: -20px 0;
  & > .panel {
    margin: 20px 0;
    @include lastElement;
    & > section {
      @include lastElement;
    }
  }
  &[class*="_col2"] > .panel {
    width: calc(100% / 2 - 40px);
  }
  &[class*="_col3"] > .panel {
    width: calc(100% / 3 - 40px);
  }
  &[class*="_col4"] > .panel {
    width: calc(100% / 4 - 40px);
  }
}

.m_slideshow {
  overflow: hidden;
  position: relative;
  .slides {
    position: relative;
    margin-bottom: 10px;
    &:after {
      clear: both;
      display: block;
      height: 0;
      content: ".";
    }
    & > li {
      float: left;
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
  .crossfade .slides > li {
    position: absolute;
    float: none;
  }
  .slideControl {
    clear: both;
    display: none;
  }
  .cursor {
    & > li {
      position: absolute;
      top: 110px;
      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }
    }
  }
  .select {
    & > li {
      display: inline-block;
      margin: 0 2px;
      & > li a {
        display: block;
        border: 1px solid #cccccc;
        padding: 5px;
        background: #dddddd;
        text-decoration: none;
      }
      & > li.active a,
      & > li a:hover {
        background: #eeeeee;
      }
    }
  }
}