@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2015/01/23
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

.m_br[class*="_before"]::before,
.m_br[class*="_after"]::after {
  content: "\A";
  white-space: pre;
}

@media screen and (min-width: $rwdBreakPoint01) {
  .m_pcHide {
    display: none !important;
  }
  .m_pcbr[class*="_before"]::before,
  .m_pcbr[class*="_after"]::after {
    content: "\A";
    white-space: pre;
  }
}

@media screen and (max-width: $rwdBreakPoint01 - 1) {
  .m_spHide {
    display: none !important;
  }
  .m_spbr[class*="_before"]::before,
  .m_spbr[class*="_after"]::after {
    content: "\A";
    white-space: pre;
  }
}