@charset "utf-8";

//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  version: 1.0
//  created: 2015/01/23
//  update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

.m_liquidImage {
  text-align: center;
  .caption {
    display: block;
    text-align: right;
    & > span {
      display: inline-block;
      text-align: left;
    }
  }

    margin: 0 0 40px;
    .caption {
      margin: lineHeightMargin(15, 14, 24) 0 0;
      @include fts(14, 24);
    }
  }

  @include mq(sp){
    margin: 0 0 20px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
