@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2020/01/07
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/*====================================================================================================

base

====================================================================================================*/
@font-face {
  font-family: "Original Yu Gothic";
  font-weight: 400;
  src: local("Yu Gothic Medium");
}
@font-face {
  font-family: "Original Yu Gothic";
  font-weight: 700;
  src: local("Yu Gothic Bold");
}

body {
  color: $baseColorType01;
  font-family: $baseFontFamily;
  font-feature-settings: "palt" 1;

  @media screen and (min-width: $rwdBreakPoint01) {
    @include fts($lin: $baseLin);
  }

  @media screen and (max-width: $rwdBreakPoint01 - 1) {
    @include fts($baseSpFontSize, $baseSpLin);
  }
}

a {
  color: $baseColorType02;
  @media screen and (min-width: $rwdBreakPoint01) {
    &[href*="tel:"] {
      cursor: text;
      text-decoration: none;
      pointer-events: none;
      img {
        cursor: default;
      }
    }
  }
  @media screen and (max-width: $rwdBreakPoint01 - 1) {
  }
}

button,
input,
select,
textarea {
  font-family: $baseFontFamily;
  @include fts();
}

#document {
  overflow: hidden;
  margin: 0 auto;

  @media screen and (min-width: $rwdBreakPoint01) {
    min-width: $contentWidth;
  }

  @media screen and (max-width: $rwdBreakPoint01 - 1) {
    min-width: $spContentWidth;
  }
}

.loadWindow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
  transition: opacity .3s ease;
  &.is_anim {
    opacity: 0;
  }
}



/* Header
--------------------------------------------------------------------------------------------------- */

@import "../_base/header";

/* GlobalNavigation
--------------------------------------------------------------------------------------------------- */

@import "../_base/gnav";

/* Breadcrumb
--------------------------------------------------------------------------------------------------- */

@import "../_base/breadcrumb";

/* MainContents
--------------------------------------------------------------------------------------------------- */

@import "../_base/mainContents";

/* SubContents
--------------------------------------------------------------------------------------------------- */

@import "../_base/subContents";

/* Footer
--------------------------------------------------------------------------------------------------- */

@import "../_base/footer";
