@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2020/01/07
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/*====================================================================================================

base

====================================================================================================*/
@if $fontFamilySet == 'yugo' {
  @font-face {
    font-family: "Original Yu Gothic";
    font-weight: 400;
    src: local("Yu Gothic Medium");
  }
  @font-face {
    font-family: "Original Yu Gothic";
    font-weight: 700;
    src: local("Yu Gothic Bold");
  }
}

body {
  color: $baseColorType01;
  font-family: map-get($fontFamily, $fontFamilySet);
  font-feature-settings: "palt" 1;
  @include mq(pc) {
    @include fts(map-get($fontSize, 'pc'), map-get($lineHeight, 'pc'));
  }
  @include mq(sp) {
    @include fts(map-get($fontSize, 'sp'), map-get($lineHeight, 'sp'));
  }
}

a {
  color: $baseColorType02;
  @include mq(pc) {
    &[href*="tel:"] {
      cursor: text;
      text-decoration: none;
      pointer-events: none;
      img {
        cursor: default;
      }
    }
  }
  @include mq(sp) {
  }
}

button,
input,
select,
textarea {
  font-family: map-get($fontFamily, $fontFamilySet);
  @include mq(pc) {
    @include fts(map-get($fontSize, 'pc'), map-get($lineHeight, 'pc'));
  }
  @include mq(sp) {
    @include fts(map-get($fontSize, 'sp'), map-get($lineHeight, 'sp'));
  }
}

#document {
  overflow: hidden;
  margin: 0 auto;
  @include mq(pc) {
    min-width: $contentWidth;
  }
  @include mq(sp) {
    min-width: $spContentWidth;
  }
}

.loadWindow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999;
  transition: opacity .3s ease;
  &.is_anim {
    opacity: 0;
  }
}



/* Header
--------------------------------------------------------------------------------------------------- */

@import "../_base/header";

/* GlobalNavigation
--------------------------------------------------------------------------------------------------- */

@import "../_base/gnav";

/* Breadcrumb
--------------------------------------------------------------------------------------------------- */

@import "../_base/breadcrumb";

/* MainContents
--------------------------------------------------------------------------------------------------- */

@import "../_base/mainContents";

/* SubContents
--------------------------------------------------------------------------------------------------- */

@import "../_base/subContents";

/* Footer
--------------------------------------------------------------------------------------------------- */

@import "../_base/footer";
