<%
    var _default = json['default'];
    for ( var key in _default ) {
        if ( typeof page[key] === 'undefined' ) {
            page[key] = _default[key];
        }
    }
-%>
<header id="gheader">
<div class="content">
<% if (json['home'].pageID == 'home') { %><p class="logo"><a href="<%= page['path'] %>"><span>xxxxxx</span></a></p><% } else { %><h1 class="logo"><a href="<%= page['path'] %>"><span>xxxxxx</span></a></h1><% } %>
<ul class="unav">
<li><a href="<%= page['path'] %>">ユーティリティ01</a></li>
<li><a href="<%= page['path'] %>">ユーティリティ02</a></li>
<!-- /.unav --></ul>
<!-- /.content --></div>
<!-- /#gheader ==========--></header>
