@charset "utf-8";
//====================================================================================================
//////////////////////////////////////////////////////////////////////////////////////////////////////
//
//    version: 1.0
//    created: 2017/01/01
//    update : -
//
//////////////////////////////////////////////////////////////////////////////////////////////////////
//====================================================================================================

/*====================================================================================================

format

====================================================================================================*/
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

p {
  margin-top: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  letter-spacing: -.5em;
}

li {
  letter-spacing: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  @include lastElement;
}

hr {
  display: none;
}

img {
  border: none;
  vertical-align: middle;
}

li img {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  vertical-align: middle;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
select {
  appearance: none;
}
button {
  display: inline-block;
  border: none;
  padding: 0;
  background: none;
}
button::-moz-focus-inner {
  border: none;
  padding: 0;
}
:placeholder-shown {
  color: $placeholderColor;
}
::-webkit-input-placeholder {
  color: $placeholderColor;
}
::-moz-placeholder {
  color: $placeholderColor;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $placeholderColor;
}
em,
address,
small {
  font-style: normal;
}

em {
  font-weight: 700;
}

article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
mark,
audio,
video,
picture,
source,
main {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}