//- -------------------------------------------------------
//-
//- ページ名
//-
//- -------------------------------------------------------

//- Extends Layout
extends Templates/pug/-layout

//- Initial State
block var
    -
        vars = {}
        vars.title = 'ページタイトル1'
        vars.keyword = 'ページキーワード1'
        vars.description = 'ページ詳細説明1'
        vars.id = '_template'
        vars.path = './'
        vars.url = 'https://'
        vars.name = 'ページ名'

//- This Page Only Stylesheet
//-block page_stylesheet

//- このページでのみ呼び出すJavaScript（head内で呼び出し）
//-block page_script_top

//- Main Contents
block main

    //- ▼ここから
    <p>test</p>
    <p>test</p>


//- このページでのみ呼び出すJavaScript（</body>前で呼び出し）
//- block page_script_bottom