<%
var pageName = "個別title 2";
var pageID = "個別ID";
var categoryID = "カテゴリID";
var pageTitle = "個別Title";
var pageDescription = "個別Description";
var path = "./";
%><!DOCTYPE html>
<html lang="ja">
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
<meta charset="utf-8">
<% include ./include/common/-meta %>
<link rel="stylesheet" type="text/css" href="<%= path %>css/common/styles.min.css">
</head>
<body>
<div id="document" class="<%= pageID %> <%= categoryID %>">
<% include ./include/common/-header %>
<% include ./include/common/-gnav %>

<div id="container">


container

<p><img sizes="(max-width: 768px) 279px, 660px" srcset="images/common/index_ttl_course_@2x.png 558w, images/common/index_ttl_course.png 660w" src="images/common/index_ttl_course.png" alt=""></p>


<!-- /#container ==========--></div>

<% include ./include/common/-footer %>
<!-- /#document ==========--></div>
<script src="<%= path %>scripts/common/bundle.js"></script>
</body>
</html>